<form (ngSubmit)="newQuote()" class="form-control" id="form" >
    <div class="form-group">
        <label for="quote">Quote</label>
        <textarea type="text" [(ngModel)]="quoted.quote" name="quote"class="form-control" id="quote"placeholder="quote"></textarea>
    </div>
    <div class="form-group">
        <label for="author"> Quote Author</label>
        <input type="text" [(ngModel)]="quoted.author" name="author"class="form-control" id="author"placeholder="author">
    </div>
    <div class="form-group">
        <label for="author">Name:</label>
        <input type="text" [(ngModel)]="quoted.name" name="person"class="form-control" id="user"placeholder="Your name">
    </div>
    <button type="submit" class="btn btn-primary">Add Quote</button>
</form>



