<div>
  <h1 class="mt-5 text-center">MI QUOTES!</h1>
  <div>
    <div class="container">
      <h2>My Quotes</h2>
      <div>
        <ul *ngFor="let quote of quotes; let i=index">
        <div *ngIf="quote.upvotes == highest; then highlight else empty"></div>
        <ng-template #highlight>
            <li appHighlight>{{quote.quote}}  Author; {{quote.author}}<p>Posted by {{quote.name}} <p>{{quote.datePosted}}</p> <app-vote></app-vote>
            </li>
        </ng-template>
        <ng-template #empty>
            <li>{{quote.quote}} Author: {{quote.author}} <p>Posted by {{quote.name}}</p> <p>{{quote.datePosted}}</p><app-vote></app-vote></li>
            
        </ng-template>
        <button class="btn btn-danger" (click)="clear(i)">Delete</button>
    </ul>
    </div>
    </div>
    <div class="container">
      <h2 class="mt-5">Add Quote</h2>
      <app-form (add)="addQuote($event)"></app-form>
    </div>
  </div>
</div>