<div class="container">
    <div class="col-md-4">
      <h2>My Quotes</h2>
      <app-quotes></app-quotes>
    </div>
    <div class="col-md-8">
        <h2>Add Quote</h2>
        <app-form (add)="addQuote($event)"></app-form>
    </div>
    <ul *ngFor="let quote of quotes">
    <div *ngIf="quote.upvotes == highest; then highlight else empty"></div>
        <ng-template #highlight>
            <li appHighlight>{{quote.quote}} <p> Author: {{quote.author}}</p><p>{{quote.name}} added this Quote.</p><span class="btn btn-primary ml-3">Upvotes: {{quote.upvotes}}</span ><span class="btn btn-primary ml-3">Downvotes: {{quote.downvotes}}</span></li>
        </ng-template>
        <ng-template #empty>
            <li>{{quote.quote}} <p> Author: {{quote.author}}</p><span>{{quote.name}} added this quote.</span><span class="btn btn-primary ml-3"> Upvotes: {{quote.upvotes}}</span ><span class="btn btn-primary ml-3"> Downvotes: {{quote.downvotes}}</span></li>
        </ng-template>
    </ul>

</div>
