
 @import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url("./assets/images/quote9.jpg");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    margin: auto;
    padding: auto;
}







   